<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="PrintMasterPage.master.cs" Inherits="baoDienTu.Pages.PrintMasterPage" %>
<!DOCTYPE html>
<html lang="vi">
<head runat="server">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%: Page.Title %> - Báo Điện Tử</title>
    <link href="~/Static/css/print.css" rel="stylesheet" />
</head>
<body>
    <form runat="server">
        <main class="print-shell">
            <asp:ContentPlaceHolder ID="PrintContent" runat="server" />
        </main>
    </form>
</body>
</html>
